body {
    font-family: Arial, sans-serif;
    background-color: #333333; /* Contrast against the logo's orange */
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    background: rgba(255, 254, 254, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 150px;
    margin: 20px 0;
}

.banner {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    width: 30%; /* Adjust width as needed */
    text-align: left;
    margin-right: 10px
}

input {
    
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
}

#amount {
    font-size: 18px;
    margin: 10px 0;
    font-weight: bold;
}

button {
    background: #ff6200;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e55a00;
}

#qrContainer {
    margin: 40px auto; /* Centers the QR code horizontally */
    display: flex;     /* Flexbox for centering */
    justify-content: center;
    align-items: center;
    width: 100%;       /* Full width to align properly */
}

